<div class="movie-detail">
  <div 
    class="movie-detail__container" 
    [ngStyle]="getStyle(movieGot.backdrop)">
    <div class="movie-detail__container--left">
      <mat-card 
        class="movie-poster"
        [ngStyle]="{
          'background-image': 'url(' + movieGot.poster + ')'
        }">
      </mat-card>
    </div>
    <div class="movie-detail__container--top">
      <button (click)="goTo()" mat-stroked-button>
          <mat-icon>reply</mat-icon>
          Return
      </button>
    </div>
    <div class="movie-detail__container--right">
      <div class="content">
        <div class="ratings__container">
          <div class="ratings">
              <div class="empty-stars"></div>
              <div 
                class="full-stars" 
                [ngStyle]="{
                  'width': movieGot.imdb_rating * 10 + '%'
                }">
              </div>
          </div>
        </div>
        <div class="title">
          <span>
            <strong>{{ movieGot.title }}</strong>
            ({{ movieGot.imdb_rating }})
          </span>
        </div>
        <div class="release-date">
          <span class="year"> {{ movieGot.released_on.split('-')[0] }}</span>
        </div>
        <div class="synopsis">
          <strong>Synopsis</strong>
          <p>{{ movieGot.overview }}</p>
        </div>
      </div>
    </div>
  </div>
</div>