<div class="catalog__container">
  <div 
    [hidden]="movies === null" 
    class="catalog__container__content">
    <mat-toolbar class="top-nav">
      <div class="branding">
        <p><strong>WOOKIE</strong></p>
        <p><strong>MOVIES</strong></p>
      </div>
      <mat-form-field>
        <input 
          type="text" 
          matInput 
          placeholder="Search Movie"
          [(ngModel)]="movieFilter"
          #searchInput
        />
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </mat-toolbar>
  </div>
  <div *ngIf="movies === null">Fetching movies from server...</div>
  <div *ngIf="movies !== null && movies.length > 0" class="catalog__container__content">
    <div 
      *ngFor="let genre of genres; let i = index;" 
      class="genre__container">
      <mat-toolbar class="genre__container__title">
        <mat-toolbar-row>
          <span>Genre {{ i+1 }}</span>
        </mat-toolbar-row>
      </mat-toolbar>
      <div class="genre__container__movie-list">
        <div *ngFor="let mov of filteredMovies(genre)">
          <app-movie
            (onMovieClicked)="goTo(mov)" 
            [movie]="mov">
          </app-movie>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="movies !== null && movies.length < 1">
    <strong>NO MOVIES FOUND.</strong>
  </div>
</div>
