.catalog__container {
    &__content {
        .top-nav {
            height: 85px;
            display: flex;
            width: 100%;
            justify-content: space-between;

            .branding {
                display: flex;
                flex-direction: column;
                p {
                    &:nth-child(2) {
                        margin-left: 10px;
                    }
                    margin: 0;
                }
            }
        }
        .genre__container {
            &__title {
                background-color: #607d8b;
                color: #FFFFFF;
            }

            &__movie-list {
                padding: 10px;
                background-color: #bdbdbd;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-evenly;
            }
        }
    }
}