.single-movie {
    .mat-card {
        transition: all 0.5s ease;
        -webkit-transition: all 0.5 ease;
        width: 180px;
        height: 260px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top center;

        &:hover {
            cursor: pointer;
            transform: scale(1.08);
        }

        .mat-card-header-text {
            display: flex;
            flex-direction: column;
            margin: 0;
            height: 85px;
            justify-content: space-between;
        }

        .description {
            color: #FFFFFF;

            &__title {
                font-size: 23px;
            }
        }
        // &:after {
        //     position: absolute;
        //     top: 0;
        //     left: 0;
        //     content: '';
        //     width: 100%;
        //     height: 100%;
        //     background-image: linear-gradient(to bottom, rgba(124, 125, 134, 0.52), rgba(0, 0, 0, 0.8));
        // }
    }
}
