.movie-detail {
    &__container {
        width: 100vw;
        height: 100vh;
        display: flex;
        background-color: #b2b2b2;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        &--left,
        &--right {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &--top {
            position: absolute;
            top: 15px;
            left: 20px;

            .mat-stroked-button {
                background-color: #FFFFFF;
            }
        }
        &--left {
            flex-grow: 0.5;
            padding: 2%;

            .movie-poster {
                width: 300px;
                height: 466px;
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
            }
        }
        &--right {
            flex-grow: 2;
            justify-content: flex-start;

            .content {
                padding: 0% 5% 0 5%;
                max-height: 100vh;
                color: #FFFFFF;

                .ratings__container {
                    text-align: right;

                    .ratings {
                        position: relative;
                        vertical-align: middle;
                        display: inline-block;
                        color: #b1b1b1;
                        overflow: hidden;

                        .full-stars {
                            position: absolute;
                            left: 0;
                            top: 0;
                            white-space: nowrap;
                            overflow: hidden;
                            color: #fde16d;
                        }
                        .empty-stars:before, .full-stars:before {
                            content:"\2605\2605\2605\2605\2605";
                            font-size: 35px;
                        }
                        .empty-stars:before {
                            -webkit-text-stroke: 1px #848484;
                        }
                        .full-stars:before {
                            -webkit-text-stroke: 1px orange;
                        }
                        /* IE */
                        .full-stars {
                            color: #ECBE24;
                        }
                    }
                }

                .title {
                    strong { 
                        text-transform: capitalize;
                        font-size: 24px;
                    }
                }

                .release-date {
                    font-size: 20px;
                    margin: 5px 0;
                }

                .synopsis {
                    font-size: 24px;
                    margin-top: 20px;
                    max-height: 55%;
                    overflow: auto;

                    p { text-align: justify; }
                }
            }
        }
    }
}