.app-spinner {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
    z-index:99999;
    left: 0;
    top: 0;
    
    div {
      position: absolute;
      transform: translate(-50%,-50%);
      left: 50%;
      top: 50%;
    }
}