<div class="single-movie">
    <mat-card (click)="setMovieActive(movie.slug)" [ngStyle]="setBackground(movie.poster)">
        <mat-card-content class="description description__overview">
            <p>{{ movie.overview | truncate:[170, '...'] }}</p>
        </mat-card-content>
        <mat-card-header>
            <mat-card-title class="description description__title">{{ movie.title }}</mat-card-title>
            <mat-card-subtitle class="description description__sub">Rated: {{ movie.classification }}</mat-card-subtitle>
        </mat-card-header>
    </mat-card> 
</div>